<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesRegister.css"> <!-- Asegúrate de tener este archivo de estilo -->
    <title>Registro</title>
</head>
<body>
    <div class="register-container">
        <h1>Crear una Cuenta</h1>
        <form action="/api/v1/auth/register" method="POST">
            <input type="text" name="username" placeholder="Nombre de usuario" required>
            <input type="email" name="email" placeholder="Correo electrónico" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <select name="role" required>
                <option value="buyer">Comprador</option>
                <option value="seller">Vendedor</option>
            </select>
            <!-- Campo oculto para incluir el redirectUrl -->
            <input type="hidden" name="redirectUrl" value="<%= redirectUrl %>">
            <button type="submit">Registrar</button>
        </form>
        
        <p>¿Ya tienes una cuenta? <a href="/login">Inicia sesión aquí</a></p>
    </div>
</body>
</html>
